body {
	margin: 0px;
	font-family: Arial,"Microsoft YaHei", "微软雅黑";
} 

div.view {
    display: block;
    padding: 0 6px;
} 

h1.fancy, div.view h1 {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #8DC63F), color-stop(0.5, #7DC341), color-stop(1.0, #5EBD46)); 
	-webkit-box-shadow: 0 2px 1px #AAAAAA;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	font-size: 1.2em;
	color: white;
	padding: 10px 8px;
	margin: 0 0 6px 0;
	text-align: center;
} 

div.storelogo{
	margin:10px 5px;
	overflow:hidden;
}

div.storelogo figure div{
	display:block;
	margin:5px auto;
	width:100px;
	height:100px;
	border-radius:100px;
	border:2px solid #fff;
	overflow:hidden;
	-webkit-box-shadow:0 0 3px #ccc;
	box-shadow:0 0 3px #ccc;	
}

div.storelogo img{
	text-align:center;
}

div.storename p{
	font-size: 1.4em;
	text-align: center;
	margin:5px auto;
}

div.storelocation p{
	font-size: 1.0em;
	text-align: center;
	color: gray;
	margin:5px auto;
}

div.pinkerlist{	
	text-align: center;
	margin:40px auto;
}

div.pinkeritem{
	display:inline-block;
	height:64px;
	width:220px;
	line-height: 64px;
	margin:10px auto;
}

div.itempic{
	width:64px;
	display:inline-block;
	float:left;
}

div.itemvalue{
	display:inline-block;
	height: 64px;
	width:120px;
	line-height:64px;
	float:left;
	text-align: left;
	margin-left: 20px;
}

div.itemvalue p{
	margin:0px auto;
	font-size: 3.0em;
}

div.itemsuffix{
	display:inline-block;
	height: 64px;
	width:16px;
	float:left;
}

div.itemsuffix p{
	margin:0px auto;
	font-size: 1.4em;
	color: gray;
}

div.itemplus{
	margin:10px auto;
}

div.pinkerbtn{	
	text-align: center;
}

div.formpanel{
	width:280px;	
	text-align: center;
	margin:0px auto;
}

div.formbtn{
	display:inline-block;
	float:left;
	margin: 0px 10px;
}

form ul{
	margin:0px;
	padding:6px;
	list-style-type:none;
}

form ul li{
	margin: 0 0 4px 0;
	-webkit-border-radius:4px;
	border:1px solid #666666;
	padding:4px;
}

input, textarea{
	-webkit-appearance:none;
	border:0;
	width:99%;
}

div.statlist{
	margin:40px auto;
}

div.statitem p{
	font-size: 1.2em;
	text-align: center;
	margin:10px auto;
}